body{
  text-align: center;
}

h1{
  font-family: Monoton;
  font-size: 50px;
  margin: 0.1em;
}

table,tr,td{
  border: 1px solid black;
}

table{
  text-align: center;
  border-collapse: collapse;
  margin:0 auto;
}

tr{
  height: 20px;
}

td{
  width:20px;
}
